:root {
	--bg-1: rgb(225, 225, 225);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

.rippleContainer {
	min-height: 100dvh;
	background-color: var(--bg-1);
	overflow: hidden;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(1rem, 2.5vw, 2rem);
	text-transform: capitalize;
	position: fixed;
	top: 10%;
	translate: -50% -50%;
	display: block;
	text-wrap: nowrap;
}

.roh {
	left: 25%;
}

.rnh {
	left: 75%;
}

/* --- old ripple anim */

.ripple-old {
	position: fixed;
	top: 50%;
	left: 25%;
	width: 0px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 0 solid rgba(0, 0, 0, 0.1);
	transform: translate(-50%, -50%);
	animation: ripple-old 5s ease-out infinite forwards;
}

@keyframes ripple-old {
	10% {
		border-width: 20px;
	}
	85% {
		width: 800px;
	}
	100% {
		opacity: 0;
		width: 1000px;
	}
}

/* --- new ripple anim --- */

.ripple-new {
	width: 750px;
	aspect-ratio: 1;
	position: fixed;
	top: 50%;
	left: 75%;
	translate: -50% -50%;
	animation: ripple-new 5s ease-out infinite forwards;
}

.ripple-new::before {
	content: "";
	width: 100%;
	aspect-ratio: 1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	scale: 0;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	animation: ripple-new-before 5s ease-out infinite forwards;
}

.ripple-new::after {
	content: "";
	width: 100%;
	aspect-ratio: 1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	scale: 0;
	background: var(--bg-1);
	border-radius: 50%;
	animation: ripple-new-after 5s ease-out infinite forwards;
}

@keyframes ripple-new {
	100% {
		opacity: 0;
	}
}

@keyframes ripple-new-before {
	100% {
		scale: 1;
	}
}

@keyframes ripple-new-after {
	2.5% {
		scale: 0;
	}
	100% {
		scale: 1.01;
	}
}
